---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body style= "padding-bottom: 3em; margin-bottom: 2em;">

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer" >
      <footer style="margin: 0.5em; padding: 0 2em 0em;">
              {% include footer/custom.html %}
              {% include footer.html %}

      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
